{{fw-notifications outlet="global"}}

{{fw-header openModal="openModal" showAboutLink=true}}

{{#fw-nav}}
    <ul>
        {{#unless session.isAuthenticated}}
            <li>{{#link-to "login"}}Login{{/link-to}}</li>
        {{/unless}}

        {{#auth-block tagName="li"}}
            {{#link-to "index"}}Main{{/link-to}}
        {{/auth-block}}
    </ul>
{{/fw-nav}}

<main class="container fw-container">
    <div class="row">
        {{outlet}}
    </div>
</main>

{{#if showLoginModal}}
    {{fw-fullscreen-modal "re-login"
        size="md"
        closeOnClick=false
        close=(action 'closeLoginModal')
        model=(hash attemptedTransition=attemptedTransition)
    }}
{{/if}}
