<div class="col-sm-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    {{#fw-content-box hasFooter=false as |section|}}
        {{#if section.header}}
            <strong class="panel-title">GC Kit Starter Application</strong>
        {{else if section.body}}
            <p><strong>Congratulations!</strong></p>
            <p>If you are seeing this page, you have set up your development environment correctly!</p>
        {{/if}}
    {{/fw-content-box}}
</div>
